.Left {
	width: 20%;
	min-width: 320px;

	color: #fff;

	background-color: var(--blue);

	&__ImageWrapper {
		width: 300px;	
		min-width: 300px;	
	}

	&__Image {
		margin: 32px auto;
		width: 200px;	
		height: 200px;
		border-radius: 50%;
		border: 2px solid #fff;
		overflow: hidden;
	}

	&__TitleName {
		display: none;
	}

	&__MainName {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

		margin: 0;
		margin-top: 16px;

		font-size: 40px;
		text-transform: uppercase;
	}

	&__JobTitle {
		color: var(--dark-blue);
		font-size: 20px;
		text-transform: uppercase;
	}

	&__Contacts {
		margin-left: 32px;
		margin-bottom: 32px;
	}

	&__Title {
		margin-top: 16px;
		padding-bottom: 16px;
		border-bottom: 2px solid #fff;
	}

	&__Line {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 16px;
	}

	&__Label {
		margin-right: 16px;

		font-size: 14px;
		color: rgb(196, 189, 189);
	}

	&__Contact {
		padding-right: 16px;

	}

	&__SkillWrapper {
		display: flex;
		flex-wrap: wrap; 
	}

	&__Skill {
		margin-right: 8px;
		margin-bottom: 8px;
		padding: 16px;
		border-radius: 8px;
		background-color: rgba(75, 68, 68, 0.6);
		transition: 0.3s;

		&:hover {
			background-color: rgba(58, 114, 118, 0.6);
		}
	}

	@media only screen and (max-width: 730px) {
		width: 100%;

		&__TitleInfo {
			display: flex;
			align-items: center;
		}

		&__TitleName {
			display: block;
			margin: 0 32px;
		}

		&__Contacts {
			margin-right: 32px;
		}
	}

	@media only screen and (max-width: 580px) {
		&__TitleInfo {
			flex-direction: column;
		}

		&__TitleName {
			align-self: start;
		}
	}
}