@font-face {
  font-family: 'Zametka';
  src: url('/src/fonts/zametka/Zametka.otf');
}

body {
  margin: 0;
  font-family: Zametka, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --blue: rgb(102 138 159);
  --blue-gray: rgb(48, 93, 99);
  --dark-blue: rgb(21 42 45);
}
